*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  opacity: 0.5;
  margin-top: 8em;

  a {
    text-decoration: none;
    color: black;
  }

  i {
    margin-right: 0.5em;
  }
}
